.first-section {
    background-color: #1F2937;
    padding: 20px;
}

.nav-bar {
    color: #F9FAF8;
    display:flex;
    justify-content: space-around;
    align-items: center;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

li {
    margin: 20px;
    padding: 10px;
}
.content {
    color: #F9FAF8;
    display: flex;
    flex-direction: row;
    margin: 50px;
}
.maintext {
    font-size: 48px;
    font-weight: bolder;
}

.secondary {
    font-size: 18px;
}

.firstbutton {
    background-color: #3882F6;
    border-radius: 25px;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

img {
    width: 300px;
    height: auto;
    border-radius: 25%;
}

.second-section {
    padding: 20px;
}

.sectitle {
    display: flex;
    justify-content: center;
}

.holder {
    display: flex;
    justify-content: center;
}

.block {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.third-section {
    background-color: #E5E7EB;
    padding: 150px;
    padding-left: 280px;
    padding-right: 280px;
}

.quote {
    font-size: 36px;
    font-style: light italic;
    color: #1F2937;
    display: flex;
}

#author {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.fourth-section {
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.contact {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 15px;
    padding: 35px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#lastbut {
    background-color: #3882F6;
    border-color: #E5E7EB;
    color: #E5E7EB;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.call {
    font-size: 25px;
}

.action {
    font-size: 17px;
    margin-top: 0px;
}